@charset "UTF-8";
body {
	text-align: center;
	background: #f0fff0;
}

input.star{
  display: none;
}

textarea{
	resize: none;
	width:500px;
	height:50px;
	border-radius: 0.5rem;

}

div.letter{
	font-size: 20px;
}

label.star {
  float: right;
  position:relative;
  right: 40%;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before { /*５星の時は色が濃い */
content:'☆';
  color:#FE7;
  transition: all .25s;
}


input.star-5:checked ~ label.star:before { /* 普通の星は黄色 */
  color: #FD4;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { /*　一つ星だと色がオレンジに */
  color:#FE7;
  text-shadow: 0 0 20px #952;
	color: #F62;
}

label.star:hover{  /*カーソル合わせるとちょっと動く */
  transform: rotate(-15deg) scale(1.3);
}

label.star:before{
content:'☆';
}

.button{
	background-color: #6699cc;
  position: relative;
  display: inline-block;
  padding: 8px 17px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
}
