@charset "UTF-8";

body {
	text-align: center;
	background: #f0fff0
}

#question {
	resize: none; width : 400px;
	height: 100px;
	width: 400px; height : 100px;
	font-size: 15px;
}

#answer {
	resize: none; width : 400px;
	height: 100px;
	width: 400px; height : 100px;
	font-size: 15px;
}

#explanation {
	resize: none; width : 400px;
	height: 100px;
	width: 400px; height : 100px;
	font-size: 15px;
}

#end{
	float:right;
	text-decoration:none;
}