@charset "UTF-8";

body {
	text-align: center;
	background: #f0fff0;
	font-size: 15px;
}

/*「：」の位置をそろえる*/
label {
	display: inline-block;
	text-align: right;
	width: 150px;
}

/*質問項目の位置調整*/
#q_number {
	width: 120px;
}

/*入力画面を囲む枠*/
#inputField {
	display: inline-block;
	padding: 20px 20px 20px 10px;
	color: balck; /*文字色*/
	background: rgb(255, 255, 255);
	border: solid 3px #048; /*線*/
	border-radius: 10px; /*角の丸み*/
}

/*[aタグ]の線*/
a {
	text-decoration: none;
}

#new{
	margin-top:15px;
}
