@charset "UTF-8";

body {
	margin:0;/*メニューバーの枠調整*/
	text-align: center;
	background:#f0fff0;
	font-size:15px;

}




/*参考書の表*/
table{
	width:70%;
	border-collapse: separate;
	border-spacing: 0;
}

/*参考書の表のセル*/
table td{
	height: 50px;
}

/*並び替えボタンの表示方法*/
.submit form{
	display: inline-block; /*横並びに*/
	margin: 0 10px;
}

/*並び替えボタンの装飾*/
#button{
	border-radius: 5%;  /*丸み*/
	font-size: 15px;
	cursor: pointer;
	padding: 10px 18px;
	background:rgba(153, 153, 153, 0.59);
	color: black;
	line-height: 1em;
	transtion: .3s;
	border: 2px solid rgba(153, 153, 153, 0.59);
}

/*登録ボタン*/
.button{
	display: inline-block;
	padding: 16px 24px;
	text-decoration: none;
	border: 1px;
	background:#9999cc;
	color: white;
	box-shadow: 0px 2px 4px #575;
}

/*一行目を丸める*/
table th:first-child{
  border-radius: 5px 0 0 0;
}

/*hoverしたらハイライト*/
table tr:hover{
  background-color: #d4f0fd;
}


/*タイトルの最後の行を丸める*/
table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

/*参考書の表　背景色*/
table th{
  text-align: center;
  color:white;
  background: linear-gradient(#99ffcc,#52c2d0);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  padding: 10px 0;
  width:25%;
}


/*セル設定*/
table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

/*最後の列のボーダー*/
table td:last-child{
  border-right: 1px solid #a8b7c5;
}

/*丸め*/
table tr:last-child td:last-child {
  border-radius: 0 0 5px 5px;
}