@charset "UTF-8";

body {
	margin:0;/*メニューバーの枠調整*/
	text-align: center;
	background:#f0fff0;
	font-size:15px;

}

/*URLに何もしないとき*/
.url {
	font-size: 20px;
	text-decoration: none
}

/*選択肢にマウスを当てた時の線*/
.url::after {
	border-bottom: solid 2px rgb(128, 128, 255);
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 0;
}

.url:hover::after {
	width: 100%;
}
/*.url:hover{
text-decoration:underline;
color:#8b008b;

}
*/