@charset "UTF-8";

body {
	text-align: center;
	background: #f0fff0
}

/*文字の位置調整*/
label {
	display: inline-block;
	text-align: right;
	width: 150px;
}

/*「質問：」の位置調整*/
#q_number {
	width: 120px;
}

/*囲み枠*/
#inputField {
	display: inline-block;
	padding: 20px 30px 20px 10px;
	color: balck; /*文字色*/
	background: rgb(255, 255, 255);
	border: solid 3px #048; /*線*/
	border-radius: 10px; /*角の丸み*/
}

a {
	text-decoration: none;
}

#send{
	margin-top:10px;
}