@charset "UTF-8";

body {
	text-align: center;
	background-color:#90D0F0
}

label {
	display: inline-block;
	text-align: right;
	width: 150px;
}

#q_number{
	width: 120px;
}

#inputField{

	padding: 2em 1em;
margin: 2em 10em;

color: balck;  /*文字色*/
background: #FFF;
border:solid 3px  #048; /*線*/
border-radius: 10px; /*角の丸み*/
}