@charset "UTF-8";
body {
	text-align: center;
	background:#f0fff0;
	font-size:15px;

}

h1{
background-color:#fff;
border:2px
}



#flashcard{

	width:200px;
	height:700px;
	background-color:#f3e6ff;
	text-decoration:none;
	width:200px;
	height:150;
	padding:30px;
	border:2px blue solid;
	margin:50px

}

#test{

	width:200px;
	height:700px;
	background-color:#f3e6ff;
	text-decoration:none;
	width:200px;
	height:150;
	padding:30px;
	border:2px blue solid;
	margin:50px
}

#tweet{

	width:200px;
	height:700px;
	background-color:#f3e6ff;
	text-decoration:none;
	width:200px;
	height:150;
	padding:30px;
	border:2px blue solid;
	margin:50px
}

#book{

	width:200px;
	height:700px;
	background-color:#f3e6ff;
	text-decoration:none;
	width:200px;
	height:150;
	padding:30px;
	border:2px blue solid;
	margin:50px
}

