@charset "UTF-8";

body {
	text-align: center;
	background: #f0fff0
}

Table {
	border-collapse: separate;
	border-spacing: 0px 8px;
}

td {
	background-color: #d1f5f5;
	border-bottom: solid 2px #0094ff;
}

#code {
	padding: 20px;
}

#question {
	padding: 20px;
}

#detail {
	background-color: #6699cc;
	position: relative;
	display: inline-block;
	padding: 8px 17px;
	cursor: pointer;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: white;
	border-radius: 0.5rem;
}

table:hover{
  background-color: #fff;
}