@charset "UTF-8";

body {
	margin:0;
	text-align: center;
	background:#f0fff0;
	font-size:15px;

}

/*各ブロックの枠設定*/
.fixed{
 	background: rgb(137, 192, 254);
	padding: 1px 1px;
	margin-top: 30px;
	border: 0.5px solid rgb(137, 192, 254);
	color: #000;
	font-weight: bold;
	display: inline-block;
}

/*データベースのデザイン*/
.change{
	background: #cde1fe;
	padding: 10px;
	border-right: 2px solid rgb(137, 192, 254);
	border-bottom: 2px solid rgb(137, 192, 254);
	border-left: 2px solid rgb(137, 192, 254);
	display: inline-block;
}