@charset "UTF-8";

body{
	text-align:center;
	background:#f0fff0
}

/*囲み枠と中身*/
div{
display: inline-block;
padding:20px 20px 30px 20px;
color: balck;  /*文字色*/
background: rgb(255, 255, 255);
border:solid 3px #048; /*線*/
border-radius: 10px; /*角の丸み*/
}



a{
	text-decoration: none;
}

/*ログインボタン位置*/
#login{
	margin-top:10px;
}


