@charset "UTF-8";

body{
	text-align:center;
	background:linear-gradient(#00ced1,#e0ffff,#00ced1);
}

div{
padding: 2em 1em;
margin: 2em 10em;

color: balck;  /*文字色*/
background: rgb(255, 255, 255);
border:solid 3px #048; /*線*/
border-radius: 10px; /*角の丸み*/
}




