@charset "UTF-8";

body {
	margin:0;
	text-align: center;
	background:#f0fff0;
	font-size:15px;

}


.test {
	font-size: 20px;
	text-decoration: none
}

.test::after {
	border-bottom: solid 2px rgb(128, 128, 255);
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 0;
}

.test:hover::after {
	width: 100%;
}