@charset "UTF-8";

body {
	margin:0;
	text-align: center;
	background:#f0fff0;
	font-size:15px;

}

/*各項目*/
label {
	display: inline-block;
	text-align: right;
	width: 150px;
}

/*変更項目の書式*/
.update{
	font-size:20px;
}

/*更新ボタン*/
.change {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;/*カーソルを変える*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;/*文字真ん中*/
  vertical-align: middle;/*垂直方向の文字位置*/
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*更新ボタン色*/
.change {
  color: #000;
  background-color: #e1d3fe;
}





