@charset "UTF-8";

body {
	text-align: center;
	background: #f0fff0;
	font-size: 15px
}


#questionText {
	display:inline-block;
	 padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: rgb(220, 220, 224);
    border-left: solid 10px rgb(0, 128, 255);
}

#answer {
	 padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: rgb(220, 220, 224);
    border-left: solid 10px rgb(0, 128, 255);
}

#explanation{
	 padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: rgb(220, 220, 224);
    border-left: solid 10px rgb(0, 128, 255);
}