@charset "UTF-8";

body {
	margin:0;
	text-align: center;
	background:#f0fff0;
	font-size:15px;

}



#questionText {
	display:inline-block;
	 padding: 0.5em 0em;
    margin: 2em 0;
    color: #232323;
    background: rgb(220, 220, 224);
    border-left: solid 50px rgb(0, 128, 255);
}

#answer{
	 display:inline-block;
	 padding: 0.5em 0em;
    margin: 2em 0;
    color: #232323;
    background: rgb(220, 220, 224);
    border-left: solid 50px rgb(0, 128, 255)
}

#explanation{
	 display:inline-block;
	 padding: 0.5em 0em;
    margin: 2em 0;
    color: #232323;
    background: rgb(220, 220, 224);
    border-left: solid 50px rgb(0, 128, 255);
}




#next{
	text-decoration:none;
}

.button{
	background-color:rgb(157, 211, 255);
  position: relative;
  display: inline-block;
  padding: 8px 17px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
}