<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/addBook.css" rel="stylesheet">

<title>参考書登録</title>
</head>
<body>
<span th:replace="menu"></span>

<h1>皆さんにおすすめする参考書を登録しましょう！</h1>
<br>
<div class="letter">
<span th:text="${error}" style="color:red"></span>
<form action="/book/add" method="post">
<font color="red">*</font>参考書の名前：<input type="text" name="name" th:value=${name}>
<br><br>
<font color="red">*</font>値段：<input type="text" name="price" th:value=${price}>
<br><br>
<font color="red">*</font>星評価をつけてください</div>
<div class="cont">
<div class="stars">
  <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
  <label class="star star-5" for="star-5"></label>
  <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
  <label class="star star-4" for="star-4"></label>
  <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
  <label class="star star-3" for="star-3"></label>
  <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
  <label class="star star-2" for="star-2"></label>
  <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
  <label class="star star-1" for="star-1"></label>
</div>
</div>
<br>
<br><br><br>
<div class="letter">
本に関するコメント（任意）
</div><br>
<textarea name="comment" th:value=${comment}></textarea>
<br>

<input class="button" type="submit" value="登録">
</form>
<div th:text="${complete}"></div>

<br><br>
</body>
</html>

