<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規作成</title>
<link href="/css/addFlashcard.css" rel="stylesheet">
</head>
<body>

<span th:replace="menu"></span>


<h1>カードの新規作成</h1>
<form action="/flashcard/add" method="post">
<p th:text="${message}" style="color:red"></p>
<select name="share">
<option value="1">共有する</option>
<option value="0">共有しない</option>
</select>
<br>
<textarea id="question" name="question" th:placeholder="問題文を入力" th:text="${question}"></textarea>
<br>
<input type="text" id="answer" name="answer" th:placeholder="答えを入力" th:value=${answer}>
<br>
<br>
<textarea id="explanation" name="explanation" th:placeholder="解説を入力" th:text="${explanation}"></textarea>

<br>
<br>
<input type="reset" class="button" id="reset" value="リセット">
<input type="submit" class="button" value="作成">
<br>


</form>
<a href="/flashcard" id="end">終了する</a>
<br>
<br>
<br>
</body>
</html>