<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>おすすめ参考書</title>
<link href="/css/book.css" rel="stylesheet">
</head>
<body>

<span th:replace="menu"></span>

<h1>みんなのおすすめ参考書一覧</h1>
<br>
<div class="submit">
<form action="/book/order/desc" method="get">
<input type="submit" value="評価の高い順" id="button">
</form>
<form action="/book/order/review" method="get">
<input type="submit" value="レビューの多い順" id="button">
</form>
</div>
<br>
<table align="center">
<tr>
    <th>参考書</th><th>値段</th><th>評価</th><th></th>
</tr>

<tr th:each="book:${books}">
		<td th:text="${book.name}"></td>
		<td th:text="${book.price}+'円'"></td>
		<th:block th:if="${book.rate == 1}">
		<td>★☆☆☆☆</td>
		</th:block>
		<th:block th:if="${book.rate == 2}">
		<td>★★☆☆☆</td>
		</th:block>
		<th:block th:if="${book.rate == 3}">
		<td>★★★☆☆</td>
		</th:block>
		<th:block th:if="${book.rate == 4}">
		<td>★★★★☆</td>
		</th:block>
		<th:block th:if="${book.rate == 5}">
		<td>★★★★★</td>
		</th:block>
		<td><a th:href="'/comment/'+ ${book.code}">レビュー(<span th:text="${book.comment}"></span>)</a></td>
</tr>
</table>
<br>
<br>

<a class="button" href="/book/add">おすすめ参考書を登録する</a>
<br><br><br>
</body>
</html>