<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>おすすめ参考書</title>
</head>
<body>

<span th:replace="menu"></span>
<hr>
<h1>みんなのおすすめ参考書一覧</h1>
<table border="1">

<tr>
    <th>参考書</th><th>値段</th><th>評価</th><th></th>
</tr>

<tr th:each="book:${books}">
		<td th:text="${book.name}"></td>
		<td th:text="${book.price}"></td>
		<th:block th:if="${book.rate == 1}">
		<td>★☆☆☆☆</td>
		</th:block>
		<th:block th:if="${book.rate == 2}">
		<td>★★☆☆☆</td>
		</th:block>
		<th:block th:if="${book.rate == 3}">
		<td>★★★☆☆</td>
		</th:block>
		<th:block th:if="${book.rate == 4}">
		<td>★★★★☆</td>
		</th:block>
		<th:block th:if="${book.rate == 5}">
		<td>★★★★★</td>
		</th:block>
		<td><a th:href="'/comment/'+ ${book.code}">レビュー</a></td>
</tr>
</table>
<a href="/book/add">おすすめ参考書を登録する</a>

</body>
</html>