<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/comment.css" rel="stylesheet">

<title>レビュー</title>
</head>
<body>

<span th:replace="menu"></span>
<hr>
<h1>★みんなのレビュー★</h1>

<div th:text="${mess}"></div>

<table align="center">

<tr th:each="comment:${comments}">
	<td th:text="${comment.comment}"></td>
</tr>

</table>

<br>
<br><br>
<form action="/comment/add" method="post">
<textarea name="comment" placeholder="レビュー内容を入力"></textarea>
<input class="button" type="submit" value="投稿">
</form>
<br>

</body>
</html>