<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/comment.css" rel="stylesheet">

<title>レビュー</title>
</head>
<body>

<span th:replace="menu"></span>

<h1>★<span th:text="'『'+${name}+'(' + ${price}+ '円)』'"></span>のみんなのレビュー★</h1>

<div th:text="${mess}"></div>

<table align="center">

<tr th:each="comment:${comments}">
	<td th:text="${comment.comment}"></td>
</tr>

</table>

<br>
<br><br>
<p th:text="${error}" style="color:red"></p>
<form action="/comment/add" method="post">
<textarea name="comment" placeholder="レビュー内容を入力"></textarea>
<br><br>
<span id="hoshi"> 星評価を選択してください。</span>
<div class="cont">
<div class="stars">
  <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
  <label class="star star-5" for="star-5"></label>
  <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
  <label class="star star-4" for="star-4"></label>
  <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
  <label class="star star-3" for="star-3"></label>
  <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
  <label class="star star-2" for="star-2"></label>
  <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
  <label class="star star-1" for="star-1"></label>
  <input class="star" type="radio" name="star" value="none" checked>
</div>
</div>
<br><br><br><br>
<input class="button" type="submit" value="投稿">
</form>
<br>

<a href="/book" id="back">参考書一覧</a>

</body>
</html>