<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/reply.css" rel="stylesheet">

<title>掲示板</title>
</head>
<body>
<span th:replace="menu"></span>

<h1>編集</h1>
<div th:text="${message}" style="color: red"></div>
<br>
<form action="/tweet/edit">
<textarea name="tweet" id="contribution" placeholder="編集してください"></textarea>
<br>
<p><input type="submit" id="edit" value="編集"></p>
</form>
<br>
<a href="/tweet" class="btn-flat-simple">掲示板</a>
</body>
</html>