<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/home.css" rel="stylesheet">
</head>
<body>
<div><span th:replace="menu"  class="menu"></span></div>
<div class="time">
<br><br>
<u th:text="${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'), 'yyyy年MM月dd日')}"></u>
<br><br><br>

ようこそ！今日も一緒に頑張りましょう☆彡
</div>
<br><br>


<a href="/flashcard" id="flashcard">フラッシュカード</a>


<a href="/test" id="test">過去問</a>


<a href="/tweet" id="tweet">掲示板</a>




<a href="/book" id="book">おすすめの参考書</a>




</body>
</html>