<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/home.css" rel="stylesheet">
</head>
<body>
<div><span th:replace="menu"  class="menu"></span></div>

<h1>基本情報技術者試験</h1>

<div class="time">
<br><br>

<u th:text="${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'), 'yyyy年MM月dd日')}"></u>
<br><br><br>

ようこそ！今日も一緒に頑張りましょう☆彡
</div>
<br><br>

<a href="/report">管理者へ通告する</a>
<br><br>

<div class="main">
<a href="/flashcard" id="flashcard"><img src="/img/flashcard_color.png"><p class="text">フラッシュカード</p></a>


</div>

<div class="main">
<a href="/test" id="test"><img src="/img/test.png"><p class="text">過去問</p></a>

</div>


<div class="main">
<a href="/tweet" id="tweet"><img src="/img/tweet.png"><p class="text">掲示板</p></a>

</div>

<div class="main">
<a href="/book" id="book_color"><img src="/img/book.png"><p class="text">おすすめの参考書</p></a>

</div>



</body>
</html>