<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>過去問</title>
<link href="test.css" rel="stylesheet">
</head>
<body>
	<span th:replace="menu"></span>

	<hr>
	<h1>過去に間違えたことのある問題</h1>

	<br>
	<div th:text="${none}"></div>

	<table border="1">
		<tr th:each="test:${tests}">
			<td th:text="${test.code}"></td>
			<form action="/incorrect/detail" method="post">
				<input type="hidden" name="test_code" th:value="${test.code}">
				<td th:text="${test.question}"></td>
			<td><input type="submit" value="詳細"></td>
			</form>
		</tr>

	</table>

</body>
</html>