<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>プロフィール</title>
<link href="/css/profile.css" rel="stylesheet">
</head>
<body>
<span th:replace="menu"></span>

<div class="profile">
<h1><span th:text="${session.userId}"></span>さんのプロフィール</h1>
名前：<span th:text="${name}"></span>
<hr>
<br>
Email：<span th:text="${mail}"></span>
<hr>
<br>
パスワード：<span th:text="${password}"></span>

<form action="/password">
<input type="submit" id="button" value="パスワードを表示する">
</form>


</div>
<hr>
<br>
<a href="/profile/update" class="change"><span>登録内容を変更する</span></a>

</body>
</html>