<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板</title>
<link href="/css/tweet.css" rel="stylesheet">
</head>
<body>
<span th:replace="menu"></span>


<h1>掲示板</h1>
<table align="center" class="tweet">
 	<tr th:each="tweet, i:${tweets}">
	    <td th:each="user, i3:${users}" th:if="${i.index == i3.index}" class="userName">
	    <span th:text="${user}"></span>
	    </td>
		<th th:text="${tweet.tweet}"></th>
		<td th:text="${tweet.date}" id="date"></td>
		<td th:each="heart, i2:${hearts}" th:if="${i.index == i2.index}" class="heart">
        <th:block th:if="${heart == false}">
		   <a th:href="'/like/'+${tweet.code}" style="text-decoration: none;">&#9825;</a>
		</th:block>
		<th:block th:unless="${heart == false}">
		<a th:href="'/like/'+${tweet.code}" style="color:red;text-decoration:none; ">&#9829;</a>
        </th:block>
       <span th:text="${tweet.likes}"></span>
 		</td>
 		<td><a th:href="'/reply/'+ ${tweet.code} + '/' + ${tweet.user_code}">reply</a></td>
 		<td th:if="${tweet.user_code} == ${session.userCode}">
 		<form action="/tweet/delete" method="post">
 		<input type="hidden" name="deleteCode" th:value="${tweet.code}">
 		<input type="submit" value="削除" class="delete">
 		</form>
 		</td>
	</tr>
</table>
	<br>
	<br>
<table align="center">
<form action="/tweet/add" method="post">
<tr><td><textarea name="tweet" placeholder="試験情報を共有しましょう！"></textarea></td>
<td><input type="submit" value="投稿" class="button"></td>
<tr>
</form></table>
<p th:text="${error}" style="color: red"></p>
<br><br><br>

</body>
</html>