<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板</title>
<link href="/css/tweet.css" rel="stylesheet">
</head>
<body>
<span th:replace="menu"></span>

	<hr>
<h1>掲示板</h1>
<table align="center">
 	<tr th:each="tweet, i:${tweets}">
	    <td th:each="user, i3:${users}" th:if="${i.index == i3.index}" class="userName">
	    <span th:text="${user}"></span>
	    </td>
		<th th:text="${tweet.tweet}"></th>
		<td th:text="${tweet.date}"></td>
		<td th:each="heart, i2:${hearts}" th:if="${i.index == i2.index}">
        <th:block th:if="${heart == false}">
		   <a th:href="'/like/'+${tweet.code}">&#9825;</a>
		</th:block>
		<th:block th:unless="${heart == false}">
		<a th:href="'/like/'+${tweet.code}" style="color:red">&#9829;</a>
        </th:block>
       <span th:text="${tweet.likes}"></span>
 		</td>
	</tr>
</table>
<table>
<form action="/tweet/add" method="post">
<tr><td class="text"><textarea name="tweet"></textarea></td>
<td><input type="submit" value="投稿"></td>
<tr>
</form></table>


</body>
</html>