<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>プロフィール</title>
<link href="/css/updateProfile.css" rel="stylesheet">
</head>
<body>
<span th:replace="menu"></span>

<h1>プロフィール参照・変更</h1>

<div th:text="${message}"></div>

<div class="update">
<form action="/profile/update" method="post">
<label>名前：</label><input type="text" class="text" name="name" th:value=${name}>
<br>
<label>Email：</label><input type="text" class="text" name="mail" th:value=${mail}>
<br>
<label>パスワード：</label><input type="password" class="text" name="password" th:value=${password}>
<br><br>

<input type="submit" class="change" value="更新">
</form>
</div>


</body>
</html>