<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カード学習</title>
<link href="/css/useFlashcard.css" rel="stylesheet">
</head>
<body>

<span th:replace="menu"></span>



<h1>フラッシュカード学習</h1>
<h3>問題</h3>
<div th:text="${question}" id="questionText"></div>

<br>
<form action="/flashcard/answer" method="get">

<input type="submit" class="button" value="解答を見る">

<br>
<div th:text="${answer}" id="answer"></div>
</form>

<br>
<form action="/flashcard/explanation" method="get">
<input type="submit" class="button" value="解説を見る">
<br>
<div th:text="${explanation}" id="explanation"></div>
</form>
<th:block th:if="${session.favorite == true}">
<a href="/flashcard/favorite" class="favorite" id="unlike">お気に入りを解除</a>
</th:block>
<th:block th:unless="${session.favorite == true}">
<a href="/flashcard/favorite" class="favorite" id="like">お気に入りに登録</a>
</th:block>
<a href="/flashcard/use" id="next">次へ</a>
</body>
</html>