<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カード学習</title>
<link href="/css/useFlashcard.css" rel="stylesheet">
</head>
<body>

<span th:replace="menu"></span>

	<hr>

<h1>フラッシュカード学習</h1>
<span  id="question">問題</span><div th:text="${question}" id="questionText"></div>

<br>
<form action="/flashcard/answer" method="get">
<input type="submit" value="解答を見る">
<div th:text="${answer}" id="answer"></div>
</form>

<br>
<form action="/flashcard/explanation" method="get" id="explanation">
<input type="submit" value="解説を見る">
<div th:text="${explanation}"></div>
</form>

<a href="/flashcard/use">次へ</a>
</body>
</html>