<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>過去問</title>
<link href="/css/useTest.css" rel="stylesheet">
</head>
<body>

<span th:replace="menu"></span>


<form action="/test/answer" method="post">
<h1>過去問題</h1>
<div class="questions">
<p>問題<span th:text="${code}"></span></p>
<div id="question" th:text="${question}">
</div>
</div>
<br>

<div class="select">
<p>選択肢</p>
<div  class="option">
<input type="radio" name="option" value="none" style="display:none;" checked>
<label>
<input type="radio" name="option" value="a"><span th:text="${option_a}"></span>
</label>
<br>

<label>
<input type="radio" name="option" value="b"><span th:text="${option_b}"></span>
</label>
<br>

<label>
<input type="radio" name="option" value="c"><span th:text="${option_c}"></span>
</label>
<br>

<label>
<input type="radio" name="option" value="d"><span th:text="${option_d}"></span>
</label>
</div>
</div>
<br>
<div id="error" th:text="${error}"></div>

<p><div th:text="${correct}" class="correct"></div></p>

<input type="submit" class="button" value="解答">
<br>
<div id="answer" th:text="${answer}"></div>
<br>
<div class="explanation">
<p>解説</p>
<div th:text="${explanation}" id="explanation"></div>
</div>

</form>
<br>
<a href="/test/use">次へ</a>
<br><br><br><br>
</body>
</html>